<section class="todoapp">

    <header class="header">
        <h1>Todo</h1>
        <input class="new-todo" placeholder="What needs to be done?" [(ngModel)]="newTodo" (keyup.enter)="addTodo()"
            autofocus>
    </header>

    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">

        <ul class="todo-list">
            <!-- These are here just to show the structure of the list items -->
            <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
            <li *ngFor="let todo of todos" [ngClass]="{completed: todo.isDone, editing: todo.editing}">
                <div class="view">
                    <input class="toggle" type="checkbox" [checked]="todo.isDone" (click)="toggleTodo(todo)">
                    <label (dblclick)="todo.editing = true">{{todo.title}}</label>
                    <button class="destroy" (click)="destroyTodo(todo)"></button>
                </div>
                <input class="edit" #updatedTodo [value]="todo.title" (blur)="updateTodo(todo, updatedTodo.value)"
                    (keyup.escape)="todo.editing = false" (keyup.enter)="updateTodo(todo, updatedTodo.value)">
            </li>
        </ul>
    </section>

    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong>{{ activeTasks }}</strong> item left</span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
            <li>
                <a [routerLink]="['/all']" [class.selected]="path === 'all'">All</a>
            </li>
            <li>
                <a [routerLink]="['/active']" [class.selected]="path === 'active'">Active</a>
            </li>
            <li>
                <a [routerLink]="['/completed']" [class.selected]="path === 'completed'">Completed</a>
            </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
    </footer>
</section>